<header>
  <nav class="navbar">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        Götür <i class="fas fa-truck-fast"></i>
      </a>
      <div class="nav-links">
        <a routerLink="/store" routerLinkActive="active" class="nav-link">
          <i class="fas fa-store-alt"></i> Mağaza
        </a>
        <a routerLink="/list" routerLinkActive="active" class="nav-link">
          <i class="fas fa-shopping-basket"></i> Sepetim
        </a>
        <a routerLink="/add-product" routerLinkActive="active" class="nav-link">
          <i class="fas fa-box-open"></i> Ürün Ekle
        </a>
        <a routerLink="/delete-product" routerLinkActive="active" class="nav-link">
          <i class="fas fa-edit"></i> Ürün Düzenle
        </a>
        <a routerLink="/add-category" routerLinkActive="active" class="nav-link">
          <i class="fas fa-tags"></i> Kategori
        </a>
        <a routerLink="/budget" routerLinkActive="active" class="nav-link">
          <i class="fas fa-wallet"></i> Bütçe
        </a>
      </div>
    </div>
  </nav>
</header>
